@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured" style="min-height:100%;">
        <div class="featured-content content-wrapper container_12" style="min-height:100%;">
            <div id="featured-contacts" class="grid_12">
                <h2>Get In Touch</h2>
                <p><img class="phone-image-red-16" src="@Url.Content("~/images/phone-red-16.png")" /> Phone: <span>Terri &#64; @USFit.Web.Constants.PrimaryPhone</span> <span>Jeffrey &#64; @USFit.Web.Constants.SecondaryPhone</span></p>
                <p><img class="email-image-red-16" src="@Url.Content("~/images/email-red-16.png")" /> Email: <span>info@UrbanSurvivalFitness.com</span></p>
                <p><img class="location-image-red-16" src="@Url.Content("~/images/location-red-16.png")" /> Mailing Address: <span>5929 E 38th Avenue, Building B, Denver, CO 80207</span></p>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
<section id="secondary-contacts">
    <div class="grid_12">
        <h3>All Classes & Specifics</h3>
        <ul>
            <li>Contact - <span>Jeffrey McMillan</span></li>
            <li>Phone - <span class="phone">303-668-0325</span></li>
            <li>Email - jeffrey@urbansurvivalfitness.com</li>
        </ul>
    </div>
    <div class="grid_12">
        <h3>Administrative & General Questions</h3>
        <ul>
            <li>Contact - <span>Terri Carrigan</span></li>
            <li>Phone - <span class="phone">720-838-4401</span></li>
            <li>Email - terri@urbansurvivalfitness.com</li>
        </ul>
    </div>
    <div class="grid_12">
        <h3>Martial Arts</h3>
        <ul>
            <li>Contact - <span>Johnnie Williams</span></li>
            <li>Phone - <span class="phone">303-301-3371</span></li>
            <li>Email - johnnie@urbansurvivalfitness.com</li>
        </ul>
    </div>
    <div class="grid_12">
        <h3>Strength Coaching</h3>
        <ul>
            <li>Contact - <span>Pierre Williams</span></li>
            <li>Phone - <span class="phone">720-404-6500</span></li>
            <li>Email - pierre@urbansurvivalfitness.com</li>
        </ul>
    </div>

    <div class="clearfix"></div>
</section>

