@{
    ViewBag.Title = "Group Fitness Classes & Personal Training";
    var theme = ViewBag.Theme;
}
@section featured {
    
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_8 image-container">
                <div id="fitness-enthusiast" class="target t1">
                    <div class="target-image-container">
                        <img style="width:100%;" class="target-image-container" alt="a group of fitness enthusiasts having fun exercising together" src="@Url.Content("images/home/fitness-enthusiast-1.jpg")" /></div>
                    <div class="clearfix">
                    </div>
                    <div class="target-descr">
                        <p>Marathon, triathlon, adventure course and team sport competitors, plus those striving
                            to become more well-rounded athletes will find a challenge and develop tools to
                            enhance your competitive abilities. Come train and compete with other like-minded
                            people in one of our group fitness classes.</p>
                    </div>
                </div>
                <div id="youth-athletics" class="offscreen target t2">
                    <div class="target-image-container">
                        <img style="width:100%;" class="target-image-container" alt="a group of young children having fun and exercising together" src="@Url.Content("images/home/youth-athletics-1.jpg")" /></div>
                    <div class="clearfix">
                    </div>
                    <div class="target-descr">
                        <p>Our youth programs include nutrition planning, sports specific conditioning and training,
                            to get you ready for the upcoming season. Urban Survival Fitness is a great place
                            for families to develop the foundation for a healthy lifestyle which includes exercise,
                            nutrition self-confidence. </p>
                    </div>
                </div>
                <div id="womens-fitness" class="offscreen target t3">
                    <div class="target-image-container">
                        <img style="width:100%;" class="target-image-container" alt="a woman having fun practicing self defense and exercising" src="@Url.Content("images/home/womens-self-defense-1.jpg")" /></div>
                    <div class="clearfix">
                    </div>
                    <div class="target-descr">
                        <p>Join one of our group fitness classes to experience weight loss, increased energy
                            and improved posture. Use weight bearing exercises to develop critical upper body
                            strength that will promote a lifetime of good health. Recognize, prevent, and respond
                            to dangerous situations using skills you learn in our dynamic self defense courses.
                        </p>
                    </div>
                </div>
                <div id="seniors" class="offscreen target t4">
                    <div class="target-image-container">
                        <img class="target-image-container" alt="a group of seniors having fun exercising together" src="@Url.Content("images/home/seniors-1.jpg")" /></div>
                    <div class="clearfix">
                    </div>
                    <div class="target-descr">
                        <p>Increase your balance, energy, mobility, and mental focus by joining our group fitness
                            classes that have been designed specifcially for seniors. Some of our seniors have
                            decreased or eliminated their dependency on medications for high blood pressure
                            and diabetes. </p>
                    </div>
                </div>
            </div>
            <div class="grid_4 button-container">
                <div class="primary-nav-button">
                    <a id="b1" href="/Home/Fitness-Enthusiast" class="super button orange" title="Link to more information about services offered to fitness enthusiasts by Urban Survival Fitness">
                        Fitness Enthusiast</a></div>
                <div class="clearfix">
                </div>
                <div class="primary-nav-button">
                    <a id="b2" class="super button orange" href="/Home/Youth-Athletics" title="Link to more information about services offered for young athletes by Urban Survival Fitness">
                        Youth Athletics</a></div>
                <div class="clearfix">
                </div>
                <div class="primary-nav-button">
                    <a id="b3" class="super button orange" href="/Home/Womens-Fitness" title="Link to the group fitness and self defense classes for women provided by Urban Survival Fitness">
                        Womens Fitness</a></div>
                <div class="clearfix">
                </div>
                <div class="primary-nav-button">
                    <a id="b4" class="super button orange" href="/Home/Seniors" title="Link to the group fitness classes for seniors provided by Urban Survival Fitness">
                        Seniors</a></div>
                <div class="clearfix">
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
<div class="grid_4 customer-quotes">
    <section>
        <h3>What Our Students Say...</h3>
        <blockquote>
            <p>The group fitness classes help me train for the triathalons that I run yearly</p>
            <p><cite>Joe S. <span>Denver, CO</span></cite></p>
        </blockquote><blockquote>
            <p>Urban Survival Fitness is a place you test your limits every time, and its FUN! I
                feel I'm getting the best work-out in 50 minutes than I could ever achieve at the
                gym... Jeff is going to push you, but ultimately he wants you to know you're the
                only one who can make it happen!"</p>
            <p><cite>Monica H. <span>Denver, CO</span></cite></p>
        </blockquote><blockquote>
            <p>I rely on the cardio aspect of the group fitness to suppliment my crossfit and olympic
                lifting routines. Plus, Jeff helps me acheive my goals - to look better with my
                shirt off!</p>
            <p><cite>Cedric B. <span>Denver, CO</span></cite></p>
        </blockquote><blockquote>
            <p>My experience there really gave me the confidence that has fueled my weight loss
                journey. The atmosphere there gave me a new look on working out. The support and
                encouragement from the whole team there was much needed when trying new and challenging
                things. I want to thank everyone there for helping me realize my potential and my
                inner strength.</p>
            <p><cite>Krisha O. <span>Denver, CO</span></cite></p>
        </blockquote></section>
</div>
<div class="grid_8" id="primary-message">
    <h3>We Guarantee...</h3>
    <blockquote>
        <p>Classes are <span>High Energy, Intense, Fun</span> and designed to push everyone
            at <span>ANY</span> fitness level. We guarantee <span>NO MORE BORING WORKOUTS!</span></p>
        <cite>Jeffrey McMillan - Master Survival Specialist</cite></blockquote>
    <div class="clearfix">
    </div>
    <div class="grid_6 service-offerings">
        <section>
            <h3>Features...</h3>
            <ul>
                <li>Develop strength & cardio endurance</li>
                <li>One or more certified personal trainers in every class</li>
                <li>One on one training is available</li>
                <li>Personalized fitness & nutrition programs are available</li>
                <li>All equipment is safe, clean, and well maintained</li>
                <li>Classes combine martial arts & dance techniques</li>
                <li>Build agility & power with sports specific moves, yoga, and core strength</li>
                <li>Body weight exercises build the foundation of our classes</li>
                <li>Guaranteed Challenging, Fun & Friendly Group Classes</li>
            </ul></section>
    </div>
    <div class="grid_6 benefits">
        <section id="benefits">
            <h3>Benefits...</h3>
            <ul>
                <li>Classes always change - unlike your average bootcamp</li>
                <li>A great supplement to any triathalon - strong man - obstacle course - adventure
                    course - or athletic program that you may be training for</li>
                <li>Participate in workouts that are as tough as crossfit without the elitist attitude
                    or technical requirements</li>
                <li>With our help you will build the body that you want to see in the mirror</li>
                <li>Build an athletic body and mind that is bigger, stronger, and faster than the average
                    for your age group</li>
                <li>Obtain a level of fitness that will last a lifetime</li>
            </ul></section>
    </div>
</div>
<div class="clearfix">
</div>
<div class="grid_6 single-row">
    <section id="secondary-nav-2"><h4 class="offscreen">Secondary Navigation - 2</h4><ul
        class="secondary-nav-2">
        <li>@Html.ActionLink("Our Staff", "Our-Staff", "Home", null, new { title = "Link to view all staff members of Urban Survival Fitness" })
        </li>
        <li>@Html.ActionLink("Our Facility", "Our-Facility", "Home", null, new { title = "Link to view more and see more information about the facilities at Urban Survival Fitness" })
        </li>
        <li>@Html.ActionLink("Our Location", "Our-Location", "Home", null, new { title = "Link to view the location of and get directions to Urban Survival Fitness" })</li>
    </ul></section>
</div>
<div class="grid_6 single-row">
    <section id="logo"><h4 class="offscreen">Logo</h4>
        <img class="logo" src="@Url.Content("~/images/usfbnr.gif")" title="Logo for Urban Survival Fitness in Denver, Park Hill, and Stapleton" alt="Logo for Urban Survival Fitness in Denver, Park Hill, and Stapleton" />
    </section>
</div>
@section meta{
    <meta name="WebsiteSpark" content="ecUjPILopf" />
    <meta name="description" content="Urban Survival Fitness is the best no frills fitness gym in Denver, servicing the Park Hill, City Park
                            and Stapleton areas.  We offer group fitness classes and personal training.  Read more to find out about our students and classes.  Can you survive?" />
}
@section theme{
    @{
        if (theme != null) {
        <link href="@Url.Content("~/Content/" + theme + ".css")" rel="stylesheet" type="text/css" />
        }
    }
}
