@{
    ViewBag.Title = "S.A.F.E.";
}

<section class="featured">
    <div class="featured-content content-wrapper container_12">
        <div class="grid_10">
            <section class="content-section-header">
                <div class="grid_8">
                    <h1>Self Defense Awareness Fundamentals for Everyone (S.A.F.E.)</h1>
                    S.A.F.E. is an advance yet simple system designed for:
                    <ul>
                        <li>Crime Prevention</li>
                        <li>Personal Safety</li>
                        <li>Self Defense</li>
                        <li>General Wellness</li>
                    </ul>
                </div>
                <div class="coupon grid_4 primary-nav-button">
                    <a id="coupon-button" href="/home/free-coupon?src=self-defense" title="Print a coupon for our fitness classes & workout classes"
                        class="super button orange">Show This Free Drop-In Pass at the Door!</a>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2><strong class="callout">It's Your Life - Take Control Of It!</strong></h2>
                    <p>
                        Take control of your life today - Enroll in one of our self defense classes - Call
                            Us to Reserve Your Spot!
                    </p>
                    <p style="margin-top: 1em;">Classes can be held at our Spacious Facility - Your Facility - In the Park - or at a Reasonable Location of Your Choice</p>
                </div>
                @*<div class="grid_6">
                    <div>
                        <img src="@Url.Content("~/images/self-defense/photo3.jpg")" 
                            title="woman practicing hand to hand self defense tactics with her self defense instructor in a gym in Park Hill, Colorado" 
                            alt="woman practicing hand to hand self defense tactics with her self defense instructor in a gym in Park Hill, Colorado" />
                    </div>
                </div>*@
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                @*<div class="grid_6">
                    <div>
                        <img src="@Url.Content("~/images/self-defense/photo5.jpg")" 
                            title="A woman wondering if she has the self defense skills to defend herself in Park Hill, Colorado" 
                            alt="A woman wondering if she has the self defense skills to defend herself in Park Hill, Colorado" />
                    </div>
                </div>*@
                <div class="grid_6">
                    <h2>Why Should I Take this Class?</h2>
                    <p>
                        Statistics show that the greater number of defensive methods employed during an attack,
                            the higher the chance of escape.
                    </p>
                    <p style="margin-top: 1em;">Get the skills you need to handle various self-defense situations.</p>
                    <p style="margin-top: 1em;">
                        The more Prepared You are to Defend Yourself - The Less
                            Likely it is that You will ever have to.
                    </p>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2>Can I Do This? - Absolutely!</h2>
                    <p>
                        We create an environment where you feel comfortable enough to challenge yourself
                            and discover your strength. Learn to use your entire body, regardless of your strength,
                            size, body type, or level of fitness.
                    </p>
                    <p style="margin-top: 1em;">Students of up to 81 years of age have completed this course.</p>
                    <p style="margin-top: 1em;">
                        <u>Determination</u> and the <u>Desire</u> to take control
                            of your life is all that is required.
                    </p>
                </div>
                @*<div class="grid_6">
                    <div>
                        <img src="@Url.Content("~/images/self-defense/photo1.jpg")" 
                            title="woman practicing hand to hand self defense tactics with her self defense instructor in a gym in Park Hill, Colorado" 
                            alt="woman practicing hand to hand self defense tactics with her self defense instructor in a gym in Park Hill, Colorado" />
                    </div>
                </div>*@
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                @*<div class="grid_6">
                    <div>
                        <img src="@Url.Content("~/images/self-defense/photo2.jpg")" 
                            title="A woman practicing hand to hand self defense tactics against a self defense instructor with a knife in a gym in Park Hill, Colorado" 
                            alt="A woman practicing hand to hand self defense tactics against a self defense instructor with a knife in a gym in Park Hill, Colorado" />
                    </div>
                </div>*@
                <div class="grid_6">
                    <h2>Get the Fulfillment & Freedom You Deserve</h2>
                    <p>
                        How much more fulfilling would your life be, and how much more freedom would you
                            experience if you knew how to recognize and respond to a potentially dangerous situation?
                            Using a Hands-On & Lecture Combo - Students Practice the Self-Defense Techniques
                            Required - To Focus on the Physical, Emotional & Psychological aspects of an attack.
                            Learn counter strategies that will Protect Yourself and those You Love.
                    </p>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2>Turn Fear into Effective - Self-Defense Energy</h2>
                    <p>
                        Address Lack of Confidence - Helplessness & Anger. Gain new Awareness of your Physical
                            Potential - Emotional Strength & Confidence.
                    </p>
                </div>
                @*<div class="grid_6">
                    <div>
                        <img src="@Url.Content("~/images/self-defense/photo4.jpg")" 
                            title="A scared woman attempting to fend of an attacker in Park Hill, Colorado" 
                            alt="A scared woman attempting to fend of an attacker in Park Hill, Colorado" />
                    </div>
                </div>*@
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_6">
                    <h2>Schedule</h2>
                    <p>Limited Space Available...</p>
                    <p>Classes forming now...</p>
                </div>
                </section>
            <section>
                <div class="grid_6">
                    <h2>Pricing</h2>
                    <p>3 hour - Group Classes - $75 / Person</p>
                    <p>Group Rates Available...</p>
                </div>
            </section>
            <div class="clearfix">
            </div>
            <section class="content-section">
                <div class="grid_12">
                    <h2><strong class="callout" style="font-size: 1em;">Call Us & Reserve Your Spot Today!</strong></h2>
                    <h2>@USFit.Web.Constants.PrimaryPhone</h2>
                </div>
            </section>
        </div>
        <div class="clearfix">
        </div>
    </div>
</section>

@*@Html.Partial("PageNav")*@



@section meta{
    <meta name="description" content="Read More - Learn About Our Self Defense Awareness Fundamentals for Everyone (S.A.F.E.).  These are Self Defense Classes offered to people of all ages
        and skill levels in the Denver, Stapleton, City Park and Park Hill area." />
}
