@{
    ViewBag.Title = "Seniors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section featured{
    <section class="featured">
        <div class="featured-content content-wrapper container_12">
            <div class="grid_2 vertical-nav-grid">
                <div style="width: 100%; height: 100%;">
                    <ul>
                        <li>
                            <a class="medium orange button nav-button" href="/home/workout-classes">Workout Classes</a></li>
                        <li>
                            <a class="medium orange button nav-button" href="/home/youth-programs">Youth Programs</a></li>
                        <li>
                            <a class="medium orange button nav-button" href="/home/self-defense">Self Defense Classes</a></li>
                        <li>
                            <a class="medium grey button nav-button" href="/home/seniors">Seniors Classes</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid_10">
                <section class="seniors-header">
                    <div class="grid_8">
                        <h1>Start Rolling Back the Years - Join Our <span style="text-decoration: underline;font-weight:bold;color:#000">
                            Seniors Only</span> Fitness Classes</h1>
                        <p>Science has proven that active people live longer, feel stronger, and look younger.  Start today by joining one of our senior workout classes.
                          Concerned about holding back the class?  Don't Worry!  Our trainers scale each exercise up or down to maximize your workout.  Need more
                            of a challenge? - You are always welcome to participate in our standard workout classes.</p>
                    </div>
                    <div class="coupon grid_4 primary-nav-button">
                        <a id="coupon-button" href="/home/free-coupon?src=seniors-classes" title="Print a coupon for our fitness classes & workout classes"
                            class="super button orange">Free Drop-In Pass
                            <br />
                            (Print It!)</a>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Get Fit Today!</h2>
                        <p>It's never too late to get fit. Our exercise classes are guaranteed to help you maintain
                            and grow cardiovascular health, strength, and flexibility. Newcomers - Seasoned
                            Athletes - People of all Skill Levels - come and enjoy the benefits of working out
                            with other seniors in a group setting. Ability Based Exercise - For Seniors Only.</p>
                    </div>
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/seniors/getfit.jpg")" />
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/seniors/turnkey.jpg")" />
                        </div>
                    </div>
                    <div class="grid_6">
                        <h2>Turn the Key - Unlock Healthy Aging</h2>
                        <p>Exercise is the key to unlock healthy aging. Our workout classes will boost energy,
                            maintain your independence, and keep you fit. </p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Stay Sharp - Mentally & Physically.</h2>
                        <p>Exercise is good for your mind, mood, and memory. Exercise is key to staying strong,
                            energetic, and healthy. We guarantee that exercising - Urban Survival Style - will
                            keep your sharp - Mentally & Physically</p>
                    </div>
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/seniors/staysharp.jpg")" />
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/seniors/SmartHeart.jpg")" />
                        </div>
                    </div>
                    <div class="grid_6">
                        <h2>Smart for the Heart</h2>
                        <p>Reinforce your Cardiovascular System - Increase Stamina & Energy. A strong cardiovascular
                            system helps maintain good blood pressure and cholesterol levels. Our workout program
                            will improve your cardiovascular system.</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Get Stronger & Live Longer</h2>
                        <p>Our workouts Strengthen your Muscles & Increase Bone Density - making Walking, Lifting,
                            and Balance easier. Reduce risk of osteoporosis & fractures with increased bone
                            density. Stronger Muscles & Increased Bone Density = A Longer - Happier - Injury
                            Free Life.</p>
                    </div>
                    <div class="grid_6">
                        <div>
                            <img src="@Url.Content("~/images/seniors/GetStrongLiveLong.jpg")" />
                        </div>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_6">
                        <h2>Schedule</h2>
                        <p>Limited Space Available...</p>
                        <p>Classes forming now...</p>
                    </div>
                    <div class="grid_6">
                        <h2>Pricing</h2>
                        <p>Seniors Get Special Rates...</p>
                        <p>Group Rates Available...</p>
                    </div>
                </section>
                <div class="clearfix">
                </div>
                <section class="seniors">
                    <div class="grid_12">
                        <h2><strong class="callout">Call Us & Reserve Your Spot Today! (@USFit.Web.Constants.PrimaryPhone)</strong></h2>
                    </div>
                </section>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </section>
}
@*<div class="grid_12">
    <h2>Secondary Content</h2>
    coming soon...
</div>*@ 